services:
  db:
    image: postgres:15-alpine
    restart: always
    # Le decimos a Docker que lea el archivo de variables
    env_file:
      - .env
    environment:
      # Mapeamos las variables del .env a las que espera la imagen de Postgres
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: